.main {
    background-color: #fff;
    min-width: 23rem;
    margin: 12rem auto 5rem auto;
    border-radius: 2rem;
    min-height: 20vh;
}

.main-img-div {
    width: 16rem ;
    position: relative;
    bottom: 7.3rem;
    left: 3.5rem;
}

.main-img-desktop {
    display: none;
}

.pattern-img-div {
    position: relative;
    bottom: 12.5rem;
}

.pattern-img-div img {
    min-width: 16rem;
}

.pattern-img-desktop {
    display: none;
}

.box-img-div {
    display: none;
}

.faq {
    position: relative;
    bottom: 12.5rem;
    margin-bottom: -9rem;
}

.arrow-btn {
    background-color: #fff;
    border: none;
}



.arrow-div {
    display: flex;
    justify-content: space-between;
}

.arrow-div p {
    font-size: 0.9375rem;
    color: hsl(237, 12%, 33%);
    margin-bottom: 8px;
}

.que {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.para-btn {
    background-color: #fff;
    border: none;
}

.para-btn:hover p{
    color: hsl(14, 88%, 65%);
}

.ans-para {
    width: 280px;
    text-align: left;
    font-size: 13px;
    color: hsl(240, 6%, 50%);
    margin-top: 0px;
    margin-left: 0.4rem;
}

hr {
    border: none;
    border-top: 2px solid hsl(240, 5%, 91%);
    height: 0px;
}

