.App {
  text-align: center;
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  min-height: 98vh;
  display: grid;
  place-items: center;
  font-family: 'Kumbh Sans', sans-serif;
}



